<!DOCTYPE html>
<html>
<head>
<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black	;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.rightmenu {
  background-color: green;
}
</style>
</head>
<body>

<ul>
  <li><a href="#news">Dinner@KmutNB</a></li>
  <li style="float:right"><a class="rightmenu" href="{% url 'review:home' %}">Home</a></li>

</ul>

<div style="padding:20px;margin-top:30px;background-color:#48D1CC	;height:1500px;">
  {% if error %}
    <h1>{{error}}</h1>
  {% else %}
    <h1>Fill Boxes Below</h1>
  {% endif %}
  <form action="{% url 'review:creating' %}" method="post">
    {% csrf_token %}
    Name : <input type="TextInput" name="Rname" value=""></br>
    Description : </br><textarea name="Rdes" rows="5" cols="30"></textarea></br>
    Address : </br><textarea name="Radd" rows="3" cols="30"></textarea></br>
    Phone Number : <input type="TextInput" name="Rphone" value=""></br>
    Category :   <select name="Rcate">
                  <option value="ร้านอาหารตามสั่ง">ร้านอาหารตามสั่ง</option>
                  <option value="ร้านขนมหวาน">ร้านขนมหวาน</option>
                  <option value="ร้านก๋วยเตี๋ยว">ร้านก๋วยเตี๋ยว</option>
                  <option value="ร้านบุฟเฟ่/หมูกระทะ">ร้านบุฟเฟ่/หมูกระทะ</option>
                  <option value="ร้านบุฟเฟ่/หมูกระทะ">ร้านข้าวมันไก่</option>
                </select></br></br>

    <input type="submit" value="Submit">
  </form>



</div>

</body>
</html>
