<!DOCTYPE html>
<html>
<head>
<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #191970	;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.rightmenu {
  background-color: green;
}
</style>
</head>
<body>

<ul>
  <li><a href="#news">Dinner@KmutNB</a></li>
  <li style="float:right"><a class="rightmenu" href="#about">About</a></li>
</ul>

<div style="padding:20px;margin-top:30px;background-color:#48D1CC	;height:1500px;">

</div>

</body>
</html>
