<!DOCTYPE html>
<html>
<head>
<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black	;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.rightmenu {
  background-color: green;
}
</style>
</head>
<body>

<ul>
  <li><a href="#news">Dinner@KmutNB</a></li>
  <li style="float:right"><a class="rightmenu" href="{% url 'review:home' %}">Home</a></li>

</ul>

<div style="padding:20px;margin-top:30px;background-color:#48D1CC	;height:1500px;">
  <h1>{{rest_descrip.name}}</h1>
  <h3>Category : {{rest_descrip.Category}}</h3>
  <h3>Description : {{rest_descrip.description}}</h3>
  <h3>Address : {{rest_descrip.address}}</h3>
  <h3>Phone Number : {{rest_descrip.phone_num}}</h3>
  <h3>Rating : {{rest_descrip.rating}}
  <h1></h1>
  <h1>Reviews</h1>
  {% if rev %}
     {% for index in rev %}
       <h3>comment : {{ forloop.counter }} </h3>
       <h4>{{index.name}}</h4>
       <h4>{{index.comment}}</h4>
       <h4>{{index.rating}}</h4>
     {% endfor %}
  {% else %}
    <h3>No Review yet </h3>
  {% endif %}
  <h1></h1>
  <h1></h1>
  <h1>Add Reviews Here</h1>
  {% if error %}
    </br>
    <p>{{error}}</p>
    </br>
  {% endif %}
  <form action="{% url 'review:add_review' rest_descrip.id %}" method="post">
    {% csrf_token %}
    Name : <input type="TextInput" name="Rname" value=""></br>
    Comment : </br><textarea name="Rcomm" rows="3" cols="30"></textarea></br>
    Rating : 1<input type="radio" name="Rating" value=1> 2<input type="radio" name="Rating" value=2> 3<input type="radio" name="Rating" value=3> 4<input type="radio" name="Rating" value=4> 5<input type="radio" name="Rating" value=5></br>
    <input type="submit" value="Submit">
  </form>



</div>

</body>
</html>
